.App {  
    display: flex;  
    justify-content: center;  
    padding-top: 5%;
  }

  .calculator {  
    font-family: 'Open Sans', sans-serif;  
    width: 300px;  
    display: flex;  
    flex-wrap: wrap;
  }

  .display {  
    background: #202020;  
    color: whitesmoke;  
    padding-right: 10px;  
    font-weight: 100;  
    font-size: 2em;  
    line-height: 70px;  
    justify-content: flex-end;  
    display: flex;  
    flex-wrap: wrap;  
    flex: 1 100%;  
    border: 1px solid black;
  }

  .buttons {  
    line-height: 60px;  
    font-size: 2em;  
    border: 1px solid black;  
    cursor: pointer;  
    display: flex;  
    flex-wrap: wrap;  
    flex: 0 1 100%;
  }

  .button {  
    background: #F5FFFA;  
    color: black;  
    display: flex;  
    justify-content: center;  
    flex: 0 1 25%;
  }


  .classic.zero {  
    flex: 2;
  }

.top {  
    background: #B0E0E6;
  }

  .right {  
    background: #6495ED;  
    color: white;
  } 

  .classic {  
    background: #F5FFFA;  
    color: black;  
    display: flex;  
    justify-content: center;  
    flex: 0 1 25%;
  }

  .operands {
      display: flex;
      justify-content: space-between;
      width: 100%;
  }

  .operandsbtn {
      width: 16.6%;
  }

  .equal {
      width: 50px;
  }
